body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  3%;
  color: #FEF2BF;
}

#footer{
  text-align: center;
}


.top{
  margin: 2%;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.startBtn{
  height: 50px;
  width: 150px;
  font-size: large;
  background-color: rgb(243, 213, 79);
  border-radius: 10%;
}

.startBtn:hover{
  height: 50px;
  width: 150px;
  font-size: large;
  background-color: rgb(190, 165, 54);
  border-radius: 10%;
}

.btn {
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  border-top-right-radius: 100%;
}

.green {
  background-color: green;
  border-top-left-radius: 100%;
}

.blue {
  background-color: blue;
  border-bottom-right-radius: 100%;
}

.yellow {
  background-color: yellow;
  border-bottom-left-radius: 100%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media (max-width:1013px){
  .top{
    margin: 2%;
    height: 600px;
  }

  .container {
    display: block;
    width: 100%;
    margin: auto;
  }

  .btn {
    margin-top: 0;
    padding: 0;
    display: inline-block;
    height: 400px;
    width: 400px;
    border: 10px solid black;
    border-radius: 20%;
  }

  .red {
    background-color: red;
    border-top-right-radius: 100%;
  }
  
  .green {
    background-color: green;
    border-top-left-radius: 100%;
  }
  
  .blue {
    background-color: blue;
    border-bottom-right-radius: 100%;
  }
  
  .yellow {
    background-color: yellow;
    border-bottom-left-radius: 100%;
  }

  #level-title {
    height: 40%;
    font-family: 'Press Start 2P', cursive;
    font-size: 5rem;
    line-height: 150%;
    margin:  5%;
    color: #FEF2BF;
  }

  .startBtn{
    margin: 10%;
    height: 100px;
    width: 300px;
    font-size: 2.5rem;
    font-weight: bold;
    border-color: black;
    background-color: rgb(243, 213, 79);
    border-radius: 10%;
  }

  .startBtn:hover{
    margin: 10%;
    height: 100px;
    width: 300px;
    font-size: 2.5rem;
    font-weight: bold;
    border-color: black;
    background-color: rgb(243, 213, 79);
    border-radius: 10%;
  }

  #footer{
    font-size: 2.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 3% auto;
  }
  
}
